<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link rel="stylesheet" media="screen" th:href="@{/Users/lisette/IdeaProjects/remainder/src/main/resources/static/images/FreeConcrete blocks.jpg}"/>
</head>

<body class="container">

<h1 th:text="${title}">Remainder</h1>
<font size="6" color="#0000e6">Remainder - online broker for leftover and/or unused construction materials.</font>
<br></br >
<font size="5">Please Register to shop Remainder construction material listings.</font>
<br></br >
<br></br >
<p>The resale and recycling of leftover construction materials could assist in earning
    LEED (Leadership in Energy and Environment Design) certification. </p>
<h3>LEED certification rewards:</h3>
<ul>
    <li>Tax Incentives</li>
    <li>Bonus density</li>
    <li>Expedited permitting</li> 
    <li>Net metering</li>
    <li>Loans and/or grants</li>
    <li>Technical assistance/design assistance</li>
    <li>Permit/zone fee reduction</li>
    <li>Rebates and discounts on evironmental products</li>
    <li>Leasing assistance</li>
</ul>
<p>There are many benefits to having a construction project LEED certified,
    including government, state and local green building incentives,
    along with coveted recognition from peers, environmentalists, and community at large.
    Most states have in place incentive programs to encourage private development of green sustainable building,
    although incentives may vary from state to state.</p>
</body>
</html>